<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>vue-key</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
</head>
<body>
<div id="app">
   <p v-for="item in items" :key="item">{{item}}</p>
   <!--<p v-for="item in items">{{item}}</p>-->
</div>

<script>
    const app = new Vue({
        el: "#app",
        data: {
            items:['a','b','c','d']
        },
    });
    setTimeout(()=>{
        app.items.splice(2,0,'f')
    },1000)


    /*
    * 问题: 你知道Vue的key的作用和工作原理吗?说说你对他的理解
    *
    * key的作用主要是为了高效的更新虚拟dom,
    * ①从源码分析,在做patch执行的时候,做节点对比的时候,会根据key标识去精准的判断是否同一个节点,避免频繁更新不同元素节点
    * 从而使得patch的过程更加高效,减少dom操作,节省性能
    * ②假设不用key,那么执行的时候,始终都认为是同一个阶段,列表更新的时候会引发一些隐蔽的BUG
    * ③vue中使用同名标签元素的过渡切换时,也会用到key属性,目的也是为了让vue更好地区分元素,否则只会替换其内部属性而不会触发过渡效果
    */


</script>

</body>
</html>
